# dependencies
node_modules/

# build output
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# test coverage
coverage/

# IDE
.idea/
.vscode/

# environment variables
.env
.env.*

# temporary files
.tmp
.temp